<ol>
	<% @items.each do |item| %>
		<li>
		  <p>
		    <%= link_to item.name, item.link %><br>
		    <!-- Dont forget to put the username when u finally implement logging in. item.user.username -->
	      <%= item.user %> - <%= link_to "#{item.subcomments.length.to_s} comments", "/items/#{item.id}" %> - <%= time_ago_in_words(item.created_at) %> ago
		  </p>
		</li>
	<%end%>
</ol>
